*{
  box-sizing: border-box;
}
body{
  background-color:#621402;
  font-family: "Roboto", sans-serif;
  color:#fff;
}

.user{
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header{
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url(../img/bg.png) no-repeat center top / cover;
}
.navbar{
  display:flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.hello{
  color:white;
  margin-right: 11px;
}
.menu-link{
  color:white;
  text-decoration: none;
}
.menu-item{
  margin-right: 25px;
}
.menu{
  list-style-type: none;
  display: flex;
  padding-left: 57px;
}
.avatar{
  width: 33px;
  height: 33px;
  border-radius: 50px;
}
.container{
  max-width: 1168px;
  margin: auto;
}

.film{
  margin-top: 60px;
  color:#fff;
  display: flex;
  align-items: center;
}
.film-title-small{
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  opacity: 0.5;
}
.film-title{
  margin-top: 11px;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 36px;
}
.film-description{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 560px;
}
.film-trailer{
  margin: auto;
}
.film-details{
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.time{
  display: flex;
  align-items: center;
}
.time-icon{
  margin-right: 14px;
}
.rating{
  display: flex;
  align-items: center;
  margin-left: 34px;
}
.rating-icon{
  margin-right: 14px;
}
.rating-current{
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}

.session{
  padding-top: 46px;
  padding-bottom: 63px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 62px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.session-date-block{
  display: flex;
  align-items: center;
}
.session-date-item{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 90px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius:5px;
  margin-right: 15px;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}
.session-month{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.session-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}
.session-week {
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
}
.session-date-item:hover{
  background-color:#FE8E05;
  color:#621402;
}

.session-cinema{
  display: flex;
  flex-direction: column;
}
.session-time {
  display: flex;
  flex-direction: column;
}
.select{
  cursor: pointer;
  width: 300px;
  height: 60px;
  background:rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius:5px;
  color:#fff;
  padding: 18px;
  margin-top: 33px;
}
.select-time {
  cursor: pointer;
  width: auto;
  height: 60px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #fff;
  padding: 18px;
  margin-top: 33px;
}
option{
  color:#ffffff;
  background: rgb(98, 20, 2);
}